#parse("/array.java.vm")
#if ($packageName)
package $packageName;

#end##
import org.junit.runner.RunWith;

import io.cucumber.junit.Cucumber;
import io.cucumber.junit.CucumberOptions;

import java.text.SimpleDateFormat;
import java.util.Date;

@RunWith(Cucumber.class)
@CucumberOptions(
        strict = $strict,
        features = {"$featureFile"},
        plugin = #stringArray($plugins),
        monochrome = $monochrome,
#if(!$featureFile.contains(".feature:") && $tags)
tags = "not (@RemovedFunctionality or @Manual or @NotImplemented or @Draft or @ignore or @defectfixpending)",
#end
        glue = #stringArray($glue))
public class $className {
}
